### Windows template
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

### Node template
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
node_modules
bower_components

### Sass template
.sass-cache
*.css.map

### JetBrains template
.idea/
