extends ../layouts/main

block content

    .ScrollPanel
        .ScrollPanel-Header
            h1 Header
            p Text

        .ScrollPanel-Content
            ul
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
                li
                    h2 Item 1
                    p Item details
